 <!-- *ngIf="reload" -->
<div class="container" dir="rtl" style="display: flex; justify-content: center; flex-wrap: wrap; align-items: center;" *ngIf="reload">
 
  <!-- <div class="example-button-row">
    <button mat-raised-button (click)="openDialog()" class="btn">
      فرم ثبت نام
    </button>
  </div> -->
   <div class="search">
    
    <label for="" >نام محصول را برای جست و جو وارد کنید:</label>
  <input type="text" style="margin-right: 10px; margin-left: 10px;" [(ngModel)]="searchText">
 <mat-spinner style="width: 20px; height: 20px;"  *ngIf="isloading"></mat-spinner>

  <!-- id="search-text" aria-describedby="search-text" 
        [(ngModel)]="searchText" placeholder="Enter text to search" 
        autofocus> -->
  <button  (click)="filterSearch()" mat-raised-button  style="font-family: Tanha;   background-color: #b33057; color: white;"> جست وجو</button>
 </div>
  <table 
   class="mat-table" mat-table
    [dataSource]="data"
    class="mat-elevation-z8"
    
      >
      <!-- <mat-spinner   *ngIf="isloading" style="z-index: 1;"></mat-spinner> -->
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->

    <ng-container matColumnDef="companyName">
      <!-- <tr *ngFor="let element of data | appFilter:searchText"> -->
      <th class="table" mat-header-cell *matHeaderCellDef >نام شرکت</th>
      <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
      <!-- </tr> -->
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>کد شناسه</th>
      <td mat-cell *matCellDef="let element" >{{ element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>عنوان</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef>تاریخ تولد</th>
      <td mat-cell *matCellDef="let element">{{ element.birthday }}</td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef>رمز عبور</th>
      <td mat-cell *matCellDef="let element" >{{ element.password }}</td>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="productTypeTitle">

      <th mat-header-cell *matHeaderCellDef>نوع محصول</th>
      <td mat-cell *matCellDef="let element">{{ element.productTypeTitle }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="sellPrice">
      <th mat-header-cell *matHeaderCellDef>قیمت فروش</th>
      <td mat-cell *matCellDef="let element">{{ element.sellPrice }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="sellerRate">
      <th mat-header-cell *matHeaderCellDef>نوع فروشنده</th>
      <td mat-cell *matCellDef="let element">{{ element.sellerRate }}</td>
    </ng-container>

    <ng-container matColumnDef="detailEmployee">
      <th mat-header-cell *matHeaderCellDef> جزئیات </th>
      <td mat-cell *matCellDef="let element">
         <button mat-icon-button (click)="detailResult($event,element)" >
          <mat-icon  fontIcon="wysiwyg" style="color: #b33057;">detail</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
   
  </table> 
  <mat-paginator #page [length]=Count (page)="pageChange($event)"  [pageIndex]="pageNumber"
  [pageSize]="pageSize[0]"
  [pageSizeOptions]="pageSize"
  aria-label="Select page">
</mat-paginator>
</div>
